[defaults]
inventory = inventory.ini
roles_path = roles
collections_path = collections
remote_user = ubuntu
interpreter_python = auto_silent
forks = 10
# Do not print secrets or noisy output by default.
no_log = False
stdout_callback = default
result_format = yaml

[ssh_connection]
pipelining = True
